<div style="text-align:center">
    <br />
    <h1>Yelp API Assessment</h1>
    <div class="container">
      <form [formGroup]="displayForm" >  
        <hr>
        <select placeholder="Select" formControlName="price">
          <option value='1'>$</option>
          <option value='2'>$$</option>
          <option value='3'>$$$</option>
          <option value='4'>$$$$</option>
        </select>
        <input placeholder="city" formControlName="city">
        <button type='submit' (click)='submitSearch()'>Submit</button>
      </form>
    </div>
    <br /> <br />
    <div *ngIf='result'>
      <div class="card">
        <div class="cardContainer">
          <h1>{{ result.name }}</h1>
          <p><i> {{ result.location.address1 }} </i></p>
          <img class="image" src="{{ result.image_url }}" />
          <p>Phone Number: {{ result.phone }}</p>
          <p>Order Types: {{ delivery }} </p>
          <h5>Price: {{result.price}} </h5>
          <br />
        </div>
      </div>
    </div>
  </div>
