<h1>Yelp API Assessment</h1>
<form [formGroup]="displayForm" (ngSubmit)="submitSearch(yelp)">
  <label>Price: </label>
    <select placeholder="Select">
      <option value=1>$</option>
      <option value=2>$$</option>
      <option value=3>$$$</option>
      <option value=4>$$$$</option>
      <option value=5>$$$$$</option>
    </select>
    <br>
    <br>
  <!-- <select formControlName="price" required>
    <option *ngFor="let p of price" value="{{ p.value }}">{{ p.view }}</option>
  </select> -->
  <label>Enter City: </label>
    <input formControlName="city" required>
  <label>Enter State: </label>
    <!-- <input formControlName="state" required> -->
  <button type="submit">Submit</button>
</form>

<div>
  <div *ngIf="result !== undefined">
    <h1>{{ result.name }}</h1>
    <h4>{{ result.location.display_address }} </h4>
    <p>{{ result.display_phone }}</p>
    <p>{{ delivers }}</p>
    <p>{{ rating }}</p>
  </div>
</div>